body {
    background-color: #3c3c3c;    
}

.game-window {
    background-color: #fff;
    margin: 0 auto;
    width: 800px;
    height: 600px;
    border: 2px solid #B43104;
}

.game-screen {
    background-color: #222;
    width: 100%;
    height: 100%;
}

#input-level-code {
    border: solid #B43104 2px;
    background-color: #3c3c3c;
    font-size: 18pt;
    width: 400px;
    position: relative;
    top: 250px;
    left: 200px;
}

#btn-start-game {
    background-color: #000;
    border: solid #B43104 2px;
    color: #B43104;
    font-size: 14pt;
    width: 200px;
    position: relative;
    top: 350px;
    left: 300px;
}

.centre-text {
    text-align: center;
    position: relative;
    font-size: 14pt;
    color: #B43104;
    width: 400px;
    top: 240px;
    left: 200px;
}